### Libraries

In [12]:
from datetime import datetime
import time
import pandas as pd
import matplotlib.pyplot as plt

### Welcome Messege

In [13]:
print('\nHello! Let\'s explore some STC JAWWY TV data!\n')

Hello! Let's explore some STC JAWWY TV data!

### Loading Data

In [14]:
# load data file into a dataframe
df = pd.read_csv('STC_Jawwy_TV.csv')

### Drop Columns

In [15]:
df.drop(['Column1', 'program_desc', 'original_name'], axis = 1, inplace = True)

### Duplicates

In [22]:
df.duplicated
df = df.drop_duplicates()
df.shape

(946192, 10)

### Rename Columns

In [16]:
df = df.rename(columns={"date_":"Date","user_id_maped":"User ID","program_name":"Program Name","duration_seconds":"Duration Seconds","program_class":"Type",
"season":"Season","episode":"Episode","program_genre":"Genre","series_title":"Series Title","hd":"HD"})

### Set Time

In [17]:
df['Date'] = df['Date'].apply(lambda val: datetime.strptime(val, "%m/%d/%Y"))

,Date,User ID,Program Name,Duration Seconds,Type,Season,Episode,Genre,Series Title,HD
0,2017-05-27,26138,100 treets,40,MOVIE,0,0,Drama,0,0
1,2017-05-21,7946,Moana,17,MOVIE,0,0,Animation,0,1
2,2017-08-10,7418,The Mermaid Princess,8,MOVIE,0,0,Animation,0,1
3,2017-07-26,19307,The Mermaid Princess,76,MOVIE,0,0,Animation,0,1
4,2017-07-07,15860,Churchill,87,MOVIE,0,0,Biography,0,1

### EDA

In [20]:
print(df.head())
nan_count = df.isna().sum().sum()
print('NaN Values = ',nan_count)
print('Shipe is ',df.shape)
print(df.dtypes)
df.duplicated

        Date  User ID           Program Name  Duration Seconds   Type  Season  \
0 2017-05-27    26138             100 treets                40  MOVIE       0
1 2017-05-21     7946                 Moana                 17  MOVIE       0
2 2017-08-10     7418  The Mermaid Princess                  8  MOVIE       0
3 2017-07-26    19307  The Mermaid Princess                 76  MOVIE       0
4 2017-07-07    15860             Churchill                 87  MOVIE       0

   Episode      Genre  Series Title  HD
0        0      Drama             0   0
1        0  Animation             0   1
2        0  Animation             0   1
3        0  Animation             0   1
4        0  Biography             0   1
NaN Values =  0
Shipe is  (946192, 10)
Date                datetime64[ns]
User ID                      int64
Program Name                object
Duration Seconds             int64
Type                        object
Season                       int64
Episode                      int64
Genre                       object
Series Title                 int64
HD                           int64
dtype: object

<bound method DataFrame.duplicated of               Date  User ID                                     Program Name  \
0       2017-05-27    26138                                       100 treets
1       2017-05-21     7946                                           Moana
2       2017-08-10     7418                            The Mermaid Princess
3       2017-07-26    19307                            The Mermaid Princess
4       2017-07-07    15860                                       Churchill
...            ...      ...                                              ...
1048570 2017-04-22    23716                                 Extraterrestrial
1048571 2017-11-29     1776  Friends     The One With The Holiday Armadillo
1048572 2017-06-15     1918     Masters of Horror  Dreams In The Witch House
1048573 2017-09-11    25737                           Two Lovers and a Bear
1048574 2017-05-02    19844                                 American Psycho

         Duration Seconds             Type  Season  Episode      Genre  \
0                      40            MOVIE       0        0      Drama
1                      17            MOVIE       0        0  Animation
2                       8            MOVIE       0        0  Animation
3                      76            MOVIE       0        0  Animation
4                      87            MOVIE       0        0  Biography
...                   ...              ...     ...      ...        ...
1048570              4865            MOVIE       0        0     Horror
1048571              1261  SERIES/EPISODES       7       10     Comedy
1048572                 6  SERIES/EPISODES       1        2     Horror
1048573                72            MOVIE       0        0      Drama
1048574              2685            MOVIE       0        0      Drama

         Series Title  HD
0                   0   0
1                   0   1
2                   0   1
3                   0   1
4                   0   1
...               ...  ..
1048570             0   0
1048571             0   0
1048572             0   0
1048573             0   1
1048574             0   1

[946192 rows x 10 columns]>