### Libraries

In [95]:
import time
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Welcome Messege

In [96]:
print('\nHello! Let\'s explore some STC JAWWY TV data!\n')

Hello! Let's explore some STC JAWWY TV data!

### Loading Data

In [97]:
# load data file into a dataframe
df = pd.read_csv('STC_Jawwy_TV.csv')
df.head(5)

,Column1,date_,user_id_maped,program_name,duration_seconds,program_class,season,episode,program_desc,program_genre,series_title,hd,original_name
0,1,5/27/2017,26138,100 treets,40,MOVIE,0,0,Drama Movie100 Streets,Drama,0,0,100 treets
1,3,5/21/2017,7946,Moana,17,MOVIE,0,0,Animation MovieMoana (HD),Animation,0,1,Moana
2,4,8/10/2017,7418,The Mermaid Princess,8,MOVIE,0,0,Animation MovieThe Mermaid Princess (HD),Animation,0,1,The Mermaid Princess
3,5,7/26/2017,19307,The Mermaid Princess,76,MOVIE,0,0,Animation MovieThe Mermaid Princess (HD),Animation,0,1,The Mermaid Princess
4,7,7/7/2017,15860,Churchill,87,MOVIE,0,0,Biography MovieChurchill (HD),Biography,0,1,Churchill

In [98]:
df.dtypes

Column1              int64
date_               object
user_id_maped        int64
program_name        object
duration_seconds     int64
program_class       object
season               int64
episode              int64
program_desc        object
program_genre       object
series_title         int64
hd                   int64
original_name       object
dtype: object

### Drop Columns

In [99]:
df.drop(['Column1', 'program_desc', 'original_name'], axis = 1, inplace = True)

df.head()

,date_,user_id_maped,program_name,duration_seconds,program_class,season,episode,program_genre,series_title,hd
0,5/27/2017,26138,100 treets,40,MOVIE,0,0,Drama,0,0
1,5/21/2017,7946,Moana,17,MOVIE,0,0,Animation,0,1
2,8/10/2017,7418,The Mermaid Princess,8,MOVIE,0,0,Animation,0,1
3,7/26/2017,19307,The Mermaid Princess,76,MOVIE,0,0,Animation,0,1
4,7/7/2017,15860,Churchill,87,MOVIE,0,0,Biography,0,1

### Rename Columns

In [100]:
df = df.rename(columns={"date_":"Date","user_id_maped":"User ID","program_name":"Program Name","duration_seconds":"Duration Seconds","program_class":"Type",
"season  ":"Season","episode":"Episode","program_genre":"Genre","series_title":"Series Title","hd":"HD"})
df.head()

,Date,User ID,Program Name,Duration Seconds,Type,season,Episode,Genre,Series Title,HD
0,5/27/2017,26138,100 treets,40,MOVIE,0,0,Drama,0,0
1,5/21/2017,7946,Moana,17,MOVIE,0,0,Animation,0,1
2,8/10/2017,7418,The Mermaid Princess,8,MOVIE,0,0,Animation,0,1
3,7/26/2017,19307,The Mermaid Princess,76,MOVIE,0,0,Animation,0,1
4,7/7/2017,15860,Churchill,87,MOVIE,0,0,Biography,0,1

### EDA

In [101]:
df.head(5), df.shape, df.info , df.describe
nan_count = df.isna().sum().sum()
nan_count

0